<div class="container-fluid sticky header">
  <div class="row first-row">
    <h2>
      <a routerLink="/" routerLinkActive="active">CitiMax
        <br>Enterprises</a>
    </h2>
    <span class="spacer"></span>
    <div class="right-section">
        <img src="../../assets/images/globeBooks.png" class="img-fluid rightLogo float-right" alt="">
      <!-- <a routerLink="/contact" routerLinkActive="active">Gaurav Tandon
        <br>+91-9888213040</a> -->
    </div>

  </div>
  <div class="row second-row">
    <a routerLink="/" routerLinkActive="active">Home
      <span class="sr-only">(current)</span>
    </a>
    <a routerLink="/courses" routerLinkActive="active">Courses</a>
    <a routerLink="/inquiry" routerLinkActive="active">Inquiry</a>
    <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
  </div>
</div>