<div class="container-fluid sticky header">
  <div class="row first-row">
    <h2>
      <a routerLink="/" routerLinkActive="active">CitiMax
        <br>Enterprises</a>
    </h2>
    <span class="spacer"></span>
    <div class="right-section">
      <img [src]='rightLogo' class="img-fluid rightLogo float-right" alt="CitiMax">
    </div>

  </div>
  <div class="row second-row">
    <a *ngFor='let route of routes' [routerLink]='route.routeLink' routerLinkActive="active">
      {{route.routeName}}
    </a>
  </div>
</div>