<div class="container-fluid ">
  <div class="row footer">
    <div class="col links"> |
      <div *ngFor='let link of links'>
        <a routerLink={{link.hyperlink}} routerLinkActive="active">{{link.name}}</a> |
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="col">
      Copyright &copy; {{app}} {{getYear()}}
      <br/> Built with 💖 by
      <u>
        <a id="footer-email" [href]='email'>
          {{app}}
        </a>
      </u> Students Club.
    </div>
  </div>
</div>