.footer {
    background-color: #881b0f;
}

.links {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

a {
    padding: 10px;
    color: white;
}

.copyright {
    text-align: center;
}

#footer-email {
    color: #881b0f;
}