<div class="container">
  <div class="row">
    <div class="col heading">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row content">
    <div class="col">
      <p>{{header}}</p>
      <div class="image">
        <img [src]='img.src' class="img-fluid" [alt]='img.alt'>
      </div>
      <p class="description" *ngFor='let desc of description'>
        {{desc}}
      </p>
      <li class="memberships" *ngFor='let member of members'>
        {{member}}
      </li>
    </div>
  </div>
</div>