.google-maps{
    height: 70vh;
    margin: 20px 0px;
}

.title {
    padding: 20px 10px;
}

.contact {
    padding: 50px 10px;
    text-align: center;
    background: bisque;
}

h3 {
    color: #3f51b5;
}