<div class="container-fluid">
  <div class="row contact">
    <div class="col">
      <h3>{{companyName}}</h3>
      <div class="title">
        <h5>{{founder}}</h5>
        <span>Co-Founder</span>
      </div>
      <p>
        <span class='address' *ngFor='let adrs of address'>
          {{adrs}}
          <br>
        </span>
        <span class='phone' *ngFor='let phone of phones'>
          Ph:
          <a href="tel:{{phone}}">{{phone}}</a>
          <br>
        </span>
        <a class='email' href="mailto:{{email}}">{{email}}</a>
      </p>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="google-maps">
        <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(gMapId)' width="100%" height="100%" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>