<div class="container">
  <div class="row">
    <div class="col">
      <h3>Colleges &amp; Universities in {{ getCountry() | titlecase }}</h3>
      <p>We are the leading Education agent since the year 2018 with a benchmark of recruiting a huge number of student to various {{getCountry() | titlecase}} institutes . 
        We represent the following Universities &amp; Colleges in {{getCountry() | titlecase}}.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <li *ngFor='let course of courses'>
        {{course}}
      </li>
    </div>
  </div>
</div>