<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>CitiMax Enterprises</h3>
      <p>A unit of CitiMax Travel &amp; Education Services</p>
    </div>
    <app-carousel></app-carousel>
    <div class="col-12">
      <p *ngFor="let content of homeContents">{{ content }}</p>
    </div>

    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-6 padding">
              <mat-card-title> <h3>Services we offer:</h3> </mat-card-title>
              <div class="links" *ngFor="let service of services">
                <mat-icon>check_circle_outline</mat-icon>
                <span>{{ service }}</span>
              </div>
            </div>
            <div class="col-sm-6 padding">
              <mat-card-title> 
                <h3>Overseas Education</h3> 
              </mat-card-title>
              <div class="links" *ngFor="let link of links">
                <mat-icon>check_circle_outline</mat-icon>
                <a routerLink="{{link.hyperlink}}" routerLinkActive="active">{{
                  link.name
                }}</a>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-contact></app-contact>
