.links {
    display: flex;
}

.row {
    padding: 10px;
}

h3 {
    color: #3f51b5;
}

.padding {
    padding: 20px;
    display: grid;
    justify-content: center;
}

mat-icon {
    padding-right: 35px;
}

mat-card {
    background-color: wheat;
}