.links {
    display: flex;
    align-items: flex-start;
}

.row {
    padding: 10px;
}

h3 {
    color: #3f51b5;
}

.padding {
    padding: 5px;
    display: grid;
    justify-content: center;
}

mat-icon {
    padding-right: 35px;
    -webkit-text-fill-color: brown;
}

mat-card {
    background-color: blanchedalmond;
    padding-top: 0px;
}